nav{
	background-color: #0040FF;
}
body{
	background-color: #E0ECF8;
}

h1{
    margin-left: 40%;
}
.col-md-8{
	margin-left: 20%;
	margin-right: 20%;
	margin: center;
	width: 100%;
	padding-top: 20px;
}

.col-md-4{
	max-width: 50%;
	padding-top: 50px;
	margin-right: 20%;
	margin: center;
}
.col-md-6{
	margin-left: 25%;

}
.btn{
	margin-left: 43%;
}
.container{
	max-width: 120%;
}